.coin-logo {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.75rem;
  border: 2px solid var(--text-black);
  margin-right: 0.5rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  color: var(--text-black);
}
