<div class="backgroud col-12">
  <table class="table table-font">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-right">Name</th>
        <th scope="col" class="text-right">High</th>
        <th scope="col" class="text-right">Low</th>
        <th scope="col" class="text-right">Buy</th>
        <th scope="col" class="text-right">Sell</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of prices; let i = index">
        <td scope="row" class="text-center" [ngClass]="{'bookmarked': item?.isBookmarked}" (click)="setBookmark(i)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M352 48H160a48 48 0 00-48 48v368l144-128 144 128V96a48 48 0 00-48-48z" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg>
        </td>
        <td>
          <span class="d-flex coin-name justify-content-between">
            <span><img class="coin-logo" [src]="item?.url" alt="item?.code" /></span>
            <span> {{ item?.tradeTypeFullName || item?.code }}</span>
          </span>
        </td>
        <td class="text-right">{{ item?.prices?.high24hr | currency: 'INR':'symbol':'1.0-9' }}</td>
        <td class="text-right">{{ item?.prices?.low24hr | currency: 'INR':'symbol':'1.0-9' }}</td>
        <td class="text-green text-right ">
          {{ item?.prices?.topBuy | currency: 'INR':'symbol':'1.0-9' }}
        </td>
        <td class="text-red text-right">
          {{ item?.prices?.topSell | currency: 'INR':'symbol':'1.0-9' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
