<div class="backgroud col-12">
  <table class="table table-font">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-right">Name</th>
        <th scope="col" class="text-right" *ngIf="screenWidth && screenWidth > 425">High</th>
        <th scope="col" class="text-right" *ngIf="screenWidth && screenWidth > 425">Low</th>
        <th scope="col" class="text-right" *ngIf="screenWidth && screenWidth <= 425">High / Low</th>
        <th scope="col" class="text-right">Buy</th>
        <th scope="col" class="text-right">Sell</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of prices; let i = index">
        <td scope="row" class="text-center" [ngClass]="{'bookmarked': item?.isBookmarked}" (click)="setBookmark(i)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M352 48H160a48 48 0 00-48 48v368l144-128 144 128V96a48 48 0 00-48-48z" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg>
        </td>
        <td>
          <span class="d-flex coin-name justify-content-between">
            <span [title]="item?.code" data-toggle="tooltip" data-placement="right" class="position-relative"><img
                class="coin-logo" [src]="item?.url" alt="item?.code" (click)="toggleNotification(i)" /><svg
                xmlns="http://www.w3.org/2000/svg" class="notificaion-icon" viewBox="0 0 512 512"
                *ngIf="item?.isNotification">
                <path
                  d="M256 480a80.09 80.09 0 0073.3-48H182.7a80.09 80.09 0 0073.3 48zM400 288v-60.53C400 157 372.64 95.61 304 80l-8-48h-80l-8 48c-68.88 15.61-96 76.76-96 147.47V288l-48 64v48h384v-48z" />
              </svg></span>
            <span>{{ coinNameFormat(item) || item?.code }}</span>
          </span>
        </td>

        <td *ngIf="screenWidth && screenWidth <= 425">
          <span class="d-flex flex-column justify-content-center">
            <span class="mb-1">{{ item?.prices?.high24hr | currency:
              'INR':'symbol':'1.0-9'
              }}</span>
            <span class="mt-1">{{ item?.prices?.low24hr | currency:
              'INR':'symbol':'1.0-9'
              }}</span>
          </span>
        </td>

        <td class="text-right" *ngIf="screenWidth && screenWidth > 425">{{ item?.prices?.high24hr | currency:
          'INR':'symbol':'1.0-9'
          }}</td>
        <td class="text-right" *ngIf="screenWidth && screenWidth > 425">{{ item?.prices?.low24hr | currency:
          'INR':'symbol':'1.0-9'
          }}</td>
        <td class="text-green text-right ">
          {{ item?.prices?.topBuy | currency: 'INR':'symbol':'1.0-9' }}
        </td>
        <td class="text-red text-right">
          {{ item?.prices?.topSell | currency: 'INR':'symbol':'1.0-9' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
