.loading-div {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999;
}

i {
  font-size: 80px;
  z-index: 9999999;
}

.loader-mode-width {
  width: 100px;
}

.message-styling {
  font-size: 20px;
  position: absolute;
  top: 32%;
  text-align: center;
}
